.animation-container {
  font-weight: 800;
  font-size: 2em;
  opacity: 1;
  display:block;
  padding-top:1em;
}

.animation-container svg {
  display: block;
}

.animation-container svg .text {
  width: 100%;
  fill: transparent;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: 90,310;
  stroke-dashoffset: 0;
  -webkit-animation: text 15s infinite linear;
  animation: text 15s infinite linear;
}

.animation-container svg .text:nth-child(4n + 1) {
  stroke: #fff;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.animation-container svg .text:nth-child(4n + 2) {
  stroke: #fff;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.animation-container svg .text:nth-child(4n + 3) {
  stroke: #fff;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

.animation-container svg .text:nth-child(4n + 4) {
  stroke: #fff;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

.animation-container.black svg .text:nth-child(4n + 1) {
  stroke: #333;
}

.animation-container.black svg .text:nth-child(4n + 2) {
  stroke: #333;
}

.animation-container.black svg .text:nth-child(4n + 3) {
  stroke: #333;
}

.animation-container.black svg .text:nth-child(4n + 4) {
  stroke: #333;
}

@-webkit-keyframes text {
  100% {
    stroke-dashoffset: -400;
  }
}