/* custom */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");
/* body - pearlabyss */
body {
  background: #111;
}

.reveal .backgrounds {
  background: url(../img/pearl/company.jpg) no-repeat;
  background-size: cover;
}

.reveal .backgrounds:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.reveal a {
  color: #fff;
}

.reveal a:hover {
  color: #66d9ef;
}

.reveal .slides > section,
.reveal .slides > section > section {
  padding-top: 0;
}

.reveal .slides {
  overflow: hidden;
}

/**
 * customize assets
 */
/* logo */
.logo {
  position: fixed;
  left: 2%;
  top: 4%;
  z-index: 333;
  width: 280px;
  max-width: 15%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.logo img {
  width: 100%;
}

.logo:hover {
  -webkit-filter: brightness(1.4);
  filter: brightness(1.4);
}

.logo.on {
  width: 80%;
  max-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.off .logo {
  display: none;
}

/* font */
* {
  font-family: "Noto Sans KR", sans-serif !important;
}

h1 {
  word-break: keep-all;
}

h1.long-text {
  font-size: 2.3em;
}

/* img */
img {
  display: block;
}

.reveal section img {
  border-color: #66d9ef;
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(0.83);
  transform: scale(0.83);
}

/* controls */
.reveal .controls {
  color: #66d9ef;
}

/* text */
strong {
  word-break: keep-all;
  font-size: 30px !important;
  display: block;
}

h4 {
  text-shadow: 1px 1px 1px #999;
}

p {
  line-height: 1.6 !important;
  font-size: 30px !important;
  word-break: keep-all;
  text-shadow: 1px 1px 1px #999;
}

.reveal small {
  font-size: 22px;
  word-break: keep-all;
  line-height: 1.4;
}

.aquas {
  color: aqua;
  text-shadow: none;
  font-weight: bold;
  font-size: 35px !important;
}

/* layout - left */
section {
  text-align: left;
}

/* layout - flex */
.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* table */
table {
  font-size: 20px !important;
  word-break: keep-all;
}

/* list */
ul,
ol {
  font-size: 24px !important;
  word-break: keep-all;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  line-height: 1.4 !important;
}

.reveal ul li {
  line-height: 1.4;
  text-shadow: 1px 1px 1px #999;
}

ul > li ~ li,
ol > li ~ li {
  margin-top: 20px !important;
  text-shadow: 1px 1px 1px #999;
}

ol ul > li ~ li,
ul ol > li ~ li {
  margin-top: 0 !important;
}

/* slide-num */
.reveal .slide-number {
  right: auto;
  bottom: auto;
  font-size: 20px;
  right: 0;
  top: 0;
  padding: 10px;
}

/* iframe */
iframe {
  width: 100%;
  height: calc(100vh - 100px);
}

/* code */
.reveal pre {
  margin-left: 0px;
}

/* hljs */
.hljs {
  font-size: 14px !important;
  line-height: 1.2 !important;
}

/* pause */
.reveal .pause-overlay {
  background-color: black;
}

@media print {
  .logo {
    display: none;
  }
  .no-logo {
    display: none;
  }
  body {
    background: #1aafba;
  }
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}
/*# sourceMappingURL=pearlabyss.css.map */